@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size:large; text-align:center">System obsługi osób zaginionych</h1>
    <img src="~/Content/img/banner.jpg" class="center-block">
</div>

<div class="row">
    <div class="text-center">
        <h2>Opis</h2>
        <p>
            Consectetur adipiscing elit fusce vel.
            Sapien elit in malesuada semper.
            Mi, id sollicitudin urna fermentum.
            Ut fusce varius nisl ac.
            Ipsum gravida vel pretium tellus.
            Tincidunt integer eu augue augue.
            Nunc elit dolor, luctus placerat.
            Scelerisque euismod, iaculis eu lacus.
            Nunc mi elit, vehicula ut.
            Laoreet ac, aliquam sit amet.
        </p>
    </div>
</div>

